#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&lt {
    tapping-term-ms = <200>;
    flavor = "hold-preferred";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };
    };

    behaviors {
        double_equal: double_equal {
            compatible = "zmk,behavior-send-string";
            label = "==";
            #binding-cells = <0>;
            text = "==";
        };

        not_equal: not_equal {
            compatible = "zmk,behavior-send-string";
            label = "!=";
            #binding-cells = <0>;
            text = "!=";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&none  &none           &none           &none            &none             &none               &none          &none              &none        &none            &none            &none
&none  &kp Q           &kp W           &kp F            &kp P             &kp B               &kp J          &kp L              &kp U        &kp Y            &kp SEMICOLON    &none
&none  &mt LEFT_GUI A  &mt LEFT_ALT R  &mt LCTRL S      &mt LEFT_SHIFT T  &kp G               &kp M          &mt RIGHT_SHIFT N  &mt RCTRL E  &mt RIGHT_ALT I  &mt RIGHT_GUI O  &none
&none  &kp Z           &kp X           &kp C            &kp D             &kp V               &kp K          &kp H              &kp COMMA    &kp DOT          &lt 4 SLASH      &none
                                       &lt 3 BACKSPACE  &lt 1 SPACE       &lt 2 TAB           &kp RIGHT_GUI  &lt 2 RET
                                                        &mt LEFT_GUI RET  &kp LS(LEFT_GUI)    &lt 1 DELETE
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        Nav {
            bindings = <
&none  &none           &none         &none          &none          &none      &none          &none              &none            &none       &none             &none
&none  &none           &none         &kp PAGE_DOWN  &none          &none      &none          &none              &kp UP_ARROW     &none       &none             &none
&none  &kp LEFT_SHIFT  &kp LG(LEFT)  &kp PAGE_UP    &kp LG(RIGHT)  &none      &none          &kp LEFT           &kp DOWN_ARROW   &kp RIGHT   &kp RET           &none
&none  &kp LCTRL       &none         &none          &none          &none      &none          &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE  &kp K_PLAY_PAUSE  &none
                                     &none          &kp SPACE      &kp TAB    &kp RIGHT_GUI  &kp RET
                                                    &none          &none      &none
            >;
        };

        Num {
            bindings = <
&none  &none    &none    &none         &none      &none        &none      &none      &none   &none   &none         &none
&none  &kp F11  &kp F12  &kp F13       &kp F14    &kp F15      &kp PLUS   &kp N7     &kp N8  &kp N9  &kp ASTERISK  &none
&none  &kp F6   &kp F7   &kp F8        &kp F9     &kp F10      &kp MINUS  &kp N4     &kp N5  &kp N6  &kp CARET     &none
&none  &kp F1   &kp F2   &kp F3        &kp F4     &kp F5       &kp EQUAL  &kp N1     &kp N2  &kp N3  &kp N0        &none
                         &kp LEFT_ALT  &kp SPACE  &kp ENTER    &none      &kp SPACE
                                       &trans     &trans       &none
            >;
        };

        Sym {
            bindings = <
&none  &none              &none          &none          &none                 &none               &none              &none                  &none           &none        &none      &none
&none  &kp EXCLAMATION    &kp QUESTION   &kp DOLLAR     &kp LEFT_BRACE        &kp PIPE            &none              &kp RIGHT_BRACE        &double_equal   &not_equal   &none      &none
&none  &kp DOUBLE_QUOTES  &kp AMPERSAND  &kp HASH       &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp AT_SIGN     &kp PERCENT  &kp EQUAL  &none
&none  &kp SINGLE_QUOTE   &kp COLON      &kp SEMICOLON  &kp BACKSLASH         &kp LESS_THAN       &kp GREATER_THAN   &kp SLASH              &kp UNDERSCORE  &kp TILDE    &none      &none
                                         &none          &kp C_VOLUME_DOWN     &kp C_VOLUME_UP     &mkp RCLK          &kp SPACE
                                                        &kp K_PLAY_PAUSE      &kp K_MUTE          &mkp LCLK
            >;
        };

        layer_4 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans  &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans  &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &none   &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &mkp RCLK
            >;

            trackball-bindings = <&tsl>;//滚轮层
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &trans     &trans     &trans       &trans     &trans     &trans     &trans     &trans  &trans
&trans  &trans  &trans     &mkp MCLK  &trans     &trans       &trans     &trans     &mkp MCLK  &trans     &trans  &trans
&trans  &trans  &mkp RCLK  &trans     &mkp LCLK  &trans       &trans     &mkp LCLK  &trans     &mkp RCLK  &trans  &trans
                           &trans     &mkp LCLK  &mkp RCLK    &mkp RCLK  &mkp LCLK
                                      &trans     &trans       &trans
            >;

            trackball-bindings = <&tmv_fine>;//精准指针层
        };
    };
};
